* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/imgFolder/background.jpg');
}

.black {
    width: 100px;
    height: 200px;
    color: black;
}



