* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
}

header {
  margin: 0 auto;
  height: auto;
}
header .process_indicator {
  background-color: #233fff;
  height: 7px;
  margin-bottom: 10px;
  width: 3.03%;
}
header .header_sides {
  display: flex;
  flex-direction: row;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .left_side {
  position: relative;
  margin-left: 20px;
}
header .left_side a {
  text-decoration: none;
  color: black;
}
header .left_side .fa-arrow-left {
  font-size: 30px;
  border-radius: 50%;
  background-color: #e7eaeb;
  padding: 10px;
}
header .left_side #stemwijzerLogo {
  height: 32px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 60px;
}
header .right_side {
  float: right;
  margin: 10px 20px 0px 0px;
}
header .right_side #topLogo {
  margin-left: 20px;
  height: 15px;
}
header .right_side #vraag_nummer {
  display: inline;
  border: 1px solid #e7eaeb;
  border-radius: 80px;
  padding: 8px 12px;
  transition: opacity 0.15s 0.15s;
  height: 40px;
}
header .right_side #vraag_nummer span {
  font-weight: bold;
}

button {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;
  font-size: 20px;
  color: #000;
  line-height: 130%;
  text-align: left;
  transition: border-color 0.15s;
  cursor: pointer;
  display: inline;
  margin-left: 10px;
  background-color: #233fff;
  color: white;
}

main {
  margin: 160px auto;
  width: 800px;
}
main .main_content .stellingen {
  width: 100%;
  font-weight: normal;
  font-size: 36px;
  color: #000;
  line-height: 140%;
  letter-spacing: -0.02em;
}
main .main_content .stellingen span {
  color: #233fff;
  font-weight: 600;
  margin-bottom: 15px;
}
main .main_content .meer_info {
  margin: 50px auto;
  height: 65px;
}
main .main_content .meer_info .meer_infoBTN {
  background-color: white;
  color: black;
}
main .main_content .meer_info .fa {
  margin-right: 10px;
}
main .buttonsContainer {
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main .buttonsContainer .primary_buttons {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: 3px solid transparent;
  border-radius: 16px;
  padding: 21px 29px;
  background-color: #233fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
  text-align: left;
  transition: all 0.15s;
  cursor: pointer;
}
main .buttonsContainer .primary_buttons .fa {
  font-size: 16px;
  margin-right: 10px;
}
main .buttonsContainer .primary_buttons .fa-thumbs-down {
  transform: scaleX(-1);
}
main .buttonsContainer .eens {
  background-color: #20a84b;
}
main .buttonsContainer .geen_van_beiden {
  background-color: #e7eaeb;
  color: black;
}
main .buttonsContainer .on_eens {
  background-color: #eb2045;
}
main .buttonsContainer .eens:hover {
  background-color: #1e9744;
}
main .buttonsContainer .eens:hover .fa-thumbs-up {
  transform: rotate(-20deg);
}
main .buttonsContainer .geen_van_beiden:hover {
  background-color: #d4d8d9;
  color: black;
}
main .buttonsContainer .on_eens:hover {
  background-color: #d8173a;
}
main .buttonsContainer .on_eens:hover .fa-thumbs-down {
  transform: rotate(20deg);
}
main .buttonsContainer hr {
  z-index: -10;
  width: 30px;
  background-color: #e7eaeb;
  height: 2px;
  border: none;
}
main .buttonsContainer .skipButton {
  height: 40px;
  margin-left: 80px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #e7eaeb;
  border-radius: 64px;
  padding: 8px 12px;
  background: #fff;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.15s;
  cursor: pointer;
}
main .buttonsContainer .skipButton span {
  font-size: 20px;
  margin-left: 5px;
}
main .buttonsContainer .skip:hover {
  border: 1px solid #929292;
}

.extraOnderwerpenContainer {
  position: absolute;
  top: 150px;
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.extraOnderwerpenContainer .extraOnderwerpenHeader {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 130px;
  margin-bottom: 20px;
  margin: 0 auto;
}
.extraOnderwerpenContainer .extraOnderwerpenHeader h1 {
  font-size: 34px;
  margin-bottom: 20px;
  width: 570px;
}
.extraOnderwerpenContainer .extraOnderwerpenHeader p {
  font-weight: normal;
  font-size: 16px;
  display: inline;
  margin: 0;
}
.extraOnderwerpenContainer .extraOnderwerpenHeader #checkCounter {
  font-weight: bold;
}
.extraOnderwerpenContainer .extraOnderwerpenHeader button {
  width: 220px;
  height: 70px;
  text-align: center;
  font-weight: 800;
}
.extraOnderwerpenContainer .extraOnderwerpenMainContent {
  background-color: #f1f1f1;
  height: 690px;
  width: 1080px;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 60px repeat(3, 300px) 90px;
  grid-template-rows: 50px repeat(10, 50px);
  grid-gap: 5px 15px;
  margin: 50px auto;
}
.extraOnderwerpenContainer .extraOnderwerpenMainContent .stellingKop {
  border-radius: 4px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.extraOnderwerpenContainer .extraOnderwerpenMainContent .stellingKop input[type=checkbox] {
  width: 20px;
  height: 80px;
  border-radius: 10px;
  background-color: #f1f1f1;
  margin: 0px 10px 0px 10px;
}
.extraOnderwerpenContainer .extraOnderwerpenMainContent #div0 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.extraOnderwerpenContainer .extraOnderwerpenMainContent #div1 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.extraOnderwerpenContainer #div2 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.extraOnderwerpenContainer #div3 {
  grid-column: 2/3;
  grid-row: 5/6;
}
.extraOnderwerpenContainer #div4 {
  grid-column: 2/3;
  grid-row: 6/7;
}
.extraOnderwerpenContainer #div5 {
  grid-column: 2/3;
  grid-row: 7/8;
}
.extraOnderwerpenContainer #div6 {
  grid-column: 2/3;
  grid-row: 8/9;
}
.extraOnderwerpenContainer #div7 {
  grid-column: 2/3;
  grid-row: 9/10;
}
.extraOnderwerpenContainer #div8 {
  grid-column: 2/3;
  grid-row: 10/11;
}
.extraOnderwerpenContainer #div9 {
  grid-column: 2/3;
  grid-row: 11/12;
}
.extraOnderwerpenContainer #div10 {
  grid-column: 2/3;
  grid-row: 12/13;
}
.extraOnderwerpenContainer #div11 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.extraOnderwerpenContainer #div12 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.extraOnderwerpenContainer #div13 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.extraOnderwerpenContainer #div14 {
  grid-column: 3/4;
  grid-row: 5/6;
}
.extraOnderwerpenContainer #div15 {
  grid-column: 3/4;
  grid-row: 6/7;
}
.extraOnderwerpenContainer #div16 {
  grid-column: 3/4;
  grid-row: 7/8;
}
.extraOnderwerpenContainer #div17 {
  grid-column: 3/4;
  grid-row: 8/9;
}
.extraOnderwerpenContainer #div18 {
  grid-column: 3/4;
  grid-row: 9/10;
}
.extraOnderwerpenContainer #div19 {
  grid-column: 3/4;
  grid-row: 10/11;
}
.extraOnderwerpenContainer #div20 {
  grid-column: 3/4;
  grid-row: 11/12;
}
.extraOnderwerpenContainer #div21 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.extraOnderwerpenContainer #div22 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.extraOnderwerpenContainer #div23 {
  grid-column: 4/5;
  grid-row: 4/5;
}
.extraOnderwerpenContainer #div24 {
  grid-column: 4/5;
  grid-row: 5/6;
}
.extraOnderwerpenContainer #div25 {
  grid-column: 4/5;
  grid-row: 6/7;
}
.extraOnderwerpenContainer #div26 {
  grid-column: 4/5;
  grid-row: 7/8;
}
.extraOnderwerpenContainer #div27 {
  grid-column: 4/5;
  grid-row: 8/9;
}
.extraOnderwerpenContainer #div28 {
  grid-column: 4/5;
  grid-row: 9/10;
}
.extraOnderwerpenContainer #div29 {
  grid-column: 4/5;
  grid-row: 10/11;
}
.extraOnderwerpenContainer #div30 {
  grid-column: 4/5;
  grid-row: 11/12;
}
.extraOnderwerpenContainer .stellingKop:focus {
  border: 1px solid blue;
}/*# sourceMappingURL=stemwijzerStellingen.css.map */